:root {
  --red: #c1121f;
  --white: #fff;
  --cream: #fdf0d5;
  --lblue: #669bbc;
  --blue: #003049;
}

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  scroll-behavior: smooth;
  background-color: var(--cream);
}
/* End of Common Styles */

/* Navbar */
.navbar {
  width: 100%;
  height: 8rem;
  background-color: var(--blue);
  position: fixed;
  top: -8rem;
  padding: 3rem;
  z-index: 10;
  animation: animateNavbar 1s 0.5s forwards;
  transition: height 0.5s;
}

.navbar.change {
  height: 100vh;
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.navbar-logo {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  font-size: 2.5rem;
}

.navbar-logo a {
  font-weight: bold;
  color: var(--cream);
  letter-spacing: 0.7rem;
}

.navbar-logo span {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: var(--red);
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 15;
  top: 2rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--white);
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-family: "MADE Soulmaze", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: var(--white);
  margin: 2rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: var(--red);
}
/*  End of Navbar */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

/* Main */
/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#main-page h1 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blue);
  padding: 0;
  margin: 0;
}
#main-page h2 {
  font-size: 80px;
  letter-spacing: 10px;
  text-align: center;
  color: var(--cream);
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#main-page h3 {
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--blue);
}
#main-page p {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.sc {
  color: #3b8595;
}
.ny {
  color: #3d3c3a;
}


/* Section - Title */
/**************************/
#main-page .headline {

  padding: 3.5rem;
  margin-top: 6rem;
  text-align: center;
}
#main-page .headline h1 {
  font-size: 4rem;
  color: var(--red);
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#main-page .block {

  height: 400px;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: center;
}

#main-page .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#main-page .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background: url(https://images.pexels.com/photos/3756345/pexels-photo-3756345.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat fixed top center;
  background-blend-mode: multiply;
}
#main-page .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background: url(https://images.pexels.com/photos/7551442/pexels-photo-7551442.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat fixed center center;
  background-blend-mode: multiply;
}
#main-page .parallax-three {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  width: 80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.blur{
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}



/* Extras */
/**************************/
#main-page .line-break {
  border-bottom: 2px solid var(--red);
  width: 150px;
  margin: 0 auto;
}
.video-title{
  font-size: 4rem;
  font-weight: 400;
  color: var(--blue);
  margin-bottom: 1rem;
  text-align: center;
}


/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #main-page .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #main-page .block {
    padding: 30px;
    width: 420px;
  }
  #main-page h2 {
    font-size: 30px;
  }
  #main-page .block {
    padding: 30px;
  }
  #main-page .parallax-one,
  #main-page .parallax-two,
  #main-page .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #main-page .block {
    padding: 30px 15px;
    width: 290px;
  }
}

/* Footer */
.footer {
  background-color: #003049;
  padding: 4rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 2rem;
  color: #fdf0d5;
  margin: 0 2rem;
  background-color: #003049;
  padding: 0.3rem 3rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.footer-link:hover {
  transform: rotate(-10deg);
  box-shadow: 0 2rem 3rem #000;
  color: var(--red);
}

.footer-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: var(--cream);
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}
.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.8rem;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: var(--red);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: var(--red);
  background: var(--white);
  box-shadow: 0px 2px 10px 5px var(--red);
  padding-left: 0.1rem;
  transition: all 265ms ease-in;
  border-radius: 15%;
}
/* End of Footer */
/* Responsive */

@media (max-width: 1650px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1500px) {
  .section-heading-line {
    display: none;
  }
}

@media (max-width: 1400px) {
  .banner-heading span {
    font-size: 10rem;
  }

  .banner-paragraph {
    width: 45rem;
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .banner {
    top: 25%;
  }

  .banner-heading {
    height: 15rem;
  }

  .banner-heading span {
    font-size: 8rem;
  }

  .footer-link {
    padding: 0.3rem 2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 700px) {
  .footer-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-link {
    margin: 1rem 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
/* End of Responsive */
